/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Noto+Sans+Display:ital@0;1&display=swap');
body {
  font-family: 'Noto Sans Display', sans-serif;
}

/* For the homepage */

#homepageBody {
  background-image: url("images/peopleWorking.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gnhLogo {
  position: fixed;
  top: 0;
  left: 1.1vw;
  width: 10vw;
}

.itwsLogo {
  position: fixed;
  top: 0;
  right: 1.1vw;
  width: 10vw;
}

.homepageTitle {
  font-family: 'Birthstone', cursive;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 10em;
}

/* Socialmedia icon links */

.socials {
  display: inline;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: none;
  position: absolute;
  top: 10em;
  left: 40vw;
}

.socials ul {
  padding: 0;
}

.socials li {
  display: inline;
  list-style-type: none;
  padding: 1em;
}

.socials a {
  text-decoration: none;
}

.socials img {
  width: 3em;
}

/* Cool looking buttons */

.coolButton {
  background-color: #fdeca6;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: .5em;
  margin:auto;
}

/* this is for the form stuff */

/* The container */

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}